
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>~404~</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Content/ErrorPage/css/style.css" />
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>4<span></span>4</h1>
            </div>
            <h2>Aradığınız Sayfa Bulunamadı..</h2>
            <p>Siteye Geri Yönlendiriliyorsunuz.</p>
            <a href="/_Admin/Login/">Back to homepage</a>
        </div>
    </div>

</body>
</html>
